#headerBar{
    padding-bottom: 75px;
    padding-top: 30px;
}
body{
    margin-left: 125px;
    margin-right: 125px;
}

#headerBar img, #headerBar p {
    display:inline-block;
}

#headerIcons {
    float:right;
}

#chocoPizza{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#printLine img, #printLine p{
    display:inline-block;

}

#printer{
    display: inline-block;
    float: right;
}

#printer p{
    display: inline-block;
}


 #instructions{
    padding-top: 25px;
    padding-bottom: 25px; 
}

#footer-div img, #footer-div p{
    display:inline-block;

}

#footerInfo{
    width: 59%;
    display:inline-block;
}

#notePaper{
    width: 100%;
}



#ingredients-list {
    column-count: 2;
    position: relative;
    bottom: 231px;
    left: 62px;
    list-style: none;
}


#bottomStuff p{
    text-align:center;
}

#bottomStuff img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-weight: bold;
    font-size: 40px;
    font-family: arial black;
}